<template>
  <div>
    <Form :label-width="80">
      <FormItem label="主述:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="过敏史:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="中医证候:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="治则治法:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="诊断:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="医嘱:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="贴敷RP:"
        v-for="(item, index) in formDynamic.items"
        v-if="item.status"
        :key="index">
        <Row>
          <Col span="3" class="tcmSearchBox">
          <serchbox></serchbox>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Input type="text"></Input>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Input type="text"></Input>
          </Col>
          <Col span="2" style="margin-left: 0.5%">
          <Select>
            <Option :value="item.value" v-for="(item, index) in types"  :key="index">{{item.name}}</Option>
          </Select>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Icon type="ios-trash-outline" @click="handleRemove(index)"/>
          </Col>
        </Row>
        <Row class="drugInfo">
          <FormItem label="贴敷制剂:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="3" >1贴</Col>
          </FormItem>
          <FormItem label="用法:" style="width: 180px;display: inline-block">
            <Col span="3" style="width: 100px">
            <Select>
              <Option :value="item.value" v-for="(item, index) in usage"  :key="index">{{item.name}}</Option>
            </Select>
            </Col>
          </FormItem>
          <FormItem label="调法:" style="width: 190px;display: inline-block">
            <Col span="3" style="width: 110px">
            <Select>
              <Option :value="item.value" v-for="(item, index) in tiaofa"  :key="index">{{item.name}}</Option>
            </Select>
            </Col>
          </FormItem>
        </Row>
        <Row class="drugInfo">
          <FormItem label="部位:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
          </FormItem>
          <FormItem label="贴敷时长:" style="width: 170px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="4" >小时</Col>
          </FormItem>
          <FormItem label="贴数:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="1" >贴</Col>
            <Col span="1" >
            </Col>
          </FormItem>
        </Row>
      </FormItem>
      <FormItem label="西成药RP:">
        <Row class="tableWrap">
          <table class="ivu-table ivu-table-default" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
            <thead class="ivu-table-header">
            <tr>
              <th>药品名称</th>
              <th>组号</th>
              <th>用法</th>
              <th>单次用量</th>
              <th>频率</th>
              <th>天数</th>
              <th>总量</th>
              <th>单价</th>
              <th>皮试</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
            </thead>
          </table>
        </Row>
        <Row class="searchWrap">
          <serchbox style="width: 100%"></serchbox>
        </Row>
      </FormItem>
      <FormItem label="附加费:">
        <!--<Select  multiple style="width:200px">-->
          <!--<Option ></Option>-->
        <!--</Select>-->
      </FormItem>
      <Row style="text-align: right;font-size: 14px;margin-right: 5%">
        <span >费用合计:</span>
        <span class="total text-red">1440</span>
        <span class="text-red">元</span>
      </Row>
    </Form>
  </div>
</template>
<script>
import info from '../medicalRecords/info.vue'
import serchbox from '../medicalRecords/serchBox.vue'
export default {
  data () {
    return {
      index: 1,
      formDynamic: {
        items: [
          {
            value: '',
            index: 1,
            status: 1
          }
        ]
      },
      types: [
        {
          value: '0',
          name: '默认'
        },
        {
          value: '1',
          name: '先煎'
        },
        {
          value: '2',
          name: '后下'
        },
        {
          value: '3',
          name: '包煎'
        },
        {
          value: '4',
          name: '烊化'
        },
        {
          value: '5',
          name: '冲服'
        }
      ],
      usage: [
        {
          name: '湿贴',
          value: '0'
        },
        {
          name: '湿贴+冷敷',
          value: '1'
        },
        {
          name: '湿贴+热敷',
          value: '2'
        },
        {
          name: '湿贴+火疗',
          value: '3'
        },
        {
          name: '干贴',
          value: '4'
        }
      ],
      tiaofa: [
        {
          name: '消肿止痛液调',
          value: '0'
        },
        {
          name: '藿香正气水调',
          value: '1'
        },
        {
          name: '蜂蜜调',
          value: '2'
        },
        {
          name: '姜汁调',
          value: '3'
        },
        {
          name: '醋调',
          value: '4'
        },
        {
          name: '酒调',
          value: '5'
        },
        {
          name: '无',
          value: '6'
        }
      ],
      value4: '',
      data4: [
        {
          title: '话题',
          children: [
            {
              title: 'iView',
              count: 10000

            },
            {
              title: 'iView UI',
              count: 10600

            }
          ]
        },
        {
          title: '问题',
          children: [
            {
              title: 'iView UI 有多好',
              count: 60100

            },
            {
              title: 'iView 是啥',
              count: 30010

            }
          ]
        },
        {
          title: '文章',
          children: [
            {
              title: 'iView 是一个设计语言',
              count: 100000

            }
          ]
        }
      ],
      columns1: [
        {
          title: '名称',
          key: 'name'
        },
        {
          title: '规格',
          key: 'specifications'
        },
        {
          title: '零售价',
          key: 'price'
        },
        {
          title: '库存',
          key: 'repertory'
        }
      ],
      drugList: [
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        },
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        },
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        }
      ]
    }
  },
  components: {
    info,
    serchbox
  },
  methods: {
    handleAdd () {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    handleRemove (index) {
      this.formDynamic.items[index].status = 0
    },
    handleReset (name) {
      this.$refs[name].resetFields()
    }
  }
}
</script>
<style>
 .tcmSearchBox .ivu-auto-complete .ivu-input-wrapper .ivu-input{
   width: 128px;
 }
</style>
<style scoped="css">
  .ivu-auto-complete .ivu-input-wrapper .ivu-input{
    width: 128px;
  }
  .ivu-input-wrapper{
    width: 95%;
  }
  .drugInfo{
    background: #f0faff;
  }
  .drugInfo FormItem{
    display: inline-block;
    width: 200px;
  }
  .total{
    width: 100px;
    padding: 0 8px;
    min-width: 50px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
  .text-red{
    color: red;
  }
</style>
