<template>
  <div>
    <div>
      <span>病历</span>
      <div>
        <div>
          <span>主诉：</span>
        </div>
        <div>
          <span>现病史：</span>
        </div>
        <div>
          <span>诊断：</span>
        </div>
      </div>
    </div>
    <div>
      <span>中药处方</span>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    row: Object
  }
}
</script>
