<template>
  <div>
    <Form ref="formValidate" :rules="ruleValidate"  :label-width="80">
      <div class="boderBox" >
        <b class="title">检查</b>
      <FormItem label="体格检查:">
        <Row>
          <Col span="1" style="text-align: center">体温:</Col>
          <Col span="1">
          <Input type="text" v-model="records.examinationInfo.temperature"></Input>
          </Col>
          <Col span="1" >&#176;C</Col>
          <Col span="1" style="text-align: center">血压:</Col>
          <Col span="1">
          <Input type="text" v-model="records.examinationInfo.lowBP"></Input>
          </Col>
          <Col span="1" style="width: 5px">&#47</Col>
          <Col span="1">
          <Input type="text" v-model="records.examinationInfo.highBP"></Input>
          </Col>
          <Col span="1" >mmHg</Col>
          <Col span="1" style="text-align: center">脉搏:</Col>
          <Col span="1">
          <Input type="text" v-model="records.examinationInfo.pulse"></Input>
          </Col>
          <Col span="1" >bpm</Col>
          <Col span="1" style="text-align: center">呼吸:</Col>
          <Col span="1">
          <Input type="text" v-model="records.examinationInfo.breathe"></Input>
          </Col>
          <Col span="1" >次/分</Col>
          <!--<Col span="1" style="text-align: center">体重:</Col>-->
          <!--<Col span="1">-->
          <!--<Input type="text"  v-model="records.examinationInfo.breathe"></Input>-->
          <!--</Col>-->
          <!--<Col span="1" >kg</Col>-->
          <!--<Col span="1" style="text-align: center">身高:</Col>-->
          <!--<Col span="1">-->
          <!--<Input type="text"></Input>-->
          <!--</Col>-->
          <!--<Col span="1" >cm</Col>-->
          <!--<Col span="2" style="text-align: center">BMI指数:</Col>-->
          <!--<Col span="1">-->
          <!--<Input type="text"></Input>-->
          <!--</Col>-->
        </Row>
      </FormItem>
      <FormItem label="其他检查:">
      <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.examinationInfo.other"></Input>
      </FormItem>
      <FormItem label="辅助检查:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.examinationInfo.assist"></Input>
      </FormItem>
      </div>
      <div class="boderBox">
        <b class="title">病史</b>
        <FormItem label="主述:">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.chiefComplaint"></Input>
        </FormItem>
        <FormItem label="过敏史:">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.allergicHistory"></Input>
        </FormItem>
        <FormItem label="病史:">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.hpi"></Input>
        </FormItem>
      </div>
      <!--<FormItem label="个人史:">-->
        <!--<Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>-->
      <!--</FormItem>-->
      <!--<FormItem label="预防接种史:">-->
        <!--<Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>-->
      <!--</FormItem>-->
      <!--<FormItem label="家族史:">-->
        <!--<Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>-->
      <!--</FormItem>-->
      <!--<FormItem label="其他:">-->
        <!--<Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>-->
      <!--</FormItem>-->
      <div class="boderBox">
        <b class="title">诊断</b>
        <FormItem label="中医证候:">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.tcmSyndrome"></Input>
        </FormItem>
        <FormItem label="治则治法:">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.treatmentPrinciple"></Input>
        </FormItem>
        <FormItem label="诊断:" prop="diagnosis">
          <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}" v-model="records.diagnosis"></Input>
        </FormItem>
      </div>
    </Form>
  </div>
</template>
<script>
import info from '../medicalRecords/info.vue'
export default {
  props: ['recordDatas'],
  data () {
    return {
      formValidate: {
        diagnosis: ''
      },
      ruleValidate: {
        diagnosis: [
          { required: true, message: '诊断不能为空', trigger: 'blur' }
        ]
      },
      records: {
        allergicHistory: '',
        chiefComplaint: '',
        hpi: '',
        examinationInfo:{
          temperature: '',
          lowBP: '',
          highBP: '',
          pulse: '',
          breathe: '',
          other: '',
          assist: ''
        },
        diagnosis: '',
        tcmSyndrome: '',
        treatmentPrinciple: '',
        handlingSuggestion: ''
      }
    }
  },
  components: {
    info
  },
  methods: {
    getRecords: function () {
      this.$emit('saveRecord', this.records)
    }
  }
}
</script>
<style scoped>
  .ivu-input-wrapper{
    width: 95%;
  }
  .boderBox{
    border: 1px solid #cccccc;
    margin: 10px 40px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
  }
  .title{
    position: absolute;
    background: #fff;
    font-size: 14px;
    top: -11px;
    left: 21px;
  }
  .fixed_btn{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(15,89,212,.15);
    text-align: center;
  }
  .fixed_btn div{
    margin: 5px 0;
    display: inline-block;
    width: calc(100% / 4);
  }
  .fixed_btn div button{
    width: 50%;
  }
</style>
