<template>
  <Form ref="patientInfo" :model="patientInfo" :rules="ruleValidate" :label-width="80" inline>
    <div class="title">
      <h3>NO.</h3>
      <h1>新丰梁剑希中医诊所 ( 病历 )</h1>
    </div>
    <FormItem label="姓名:" prop="name">
      <Input v-model="patientInfo.name" placeholder="请输入姓名"></Input>
    </FormItem>
    <FormItem label="性别:" prop="gender">
      <RadioGroup v-model="patientInfo.gender">
        <Radio label="male">男</Radio>
        <Radio label="female">女</Radio>
      </RadioGroup>
    </FormItem>
    <FormItem label="出生日期:" prop="date">
      <Row>
        <Col >
        <FormItem prop="date">
          <DatePicker type="date" placeholder="选择日期" v-model="patientInfo.date"></DatePicker>
        </FormItem>
        </Col>
      </Row>
    </FormItem>
    <FormItem label="手机号码:" prop="mail">
      <Input v-model="patientInfo.phone" placeholder="请输入手机号码"></Input>
    </FormItem>
    <FormItem label="家庭地址:" prop="mail">
      <Input v-model="patientInfo.address" placeholder="请输入家庭地址" style="width: 300px"></Input>
    </FormItem>
  </Form>
</template>
<script>
export default {
  data () {
    return {
      patientInfo: {
        name: '',
        phone: '',
        address: '',
        gender: '',
        date: '',
        time: '',
        desc: ''
      },
      ruleValidate: {
        name: [
          { required: true, message: '姓名不能为空', trigger: 'blur' }
        ],
        gender: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        interest: [
          { required: true, type: 'array', min: 1, message: 'Choose at least one hobby', trigger: 'change' },
          { type: 'array', max: 2, message: 'Choose two hobbies at best', trigger: 'change' }
        ],
        date: [
          { required: true, type: 'date', message: 'Please select the date', trigger: 'change' }
        ],
        time: [
          { required: true, type: 'string', message: 'Please select time', trigger: 'change' }
        ],
        desc: [
          { required: true, message: 'Please enter a personal introduction', trigger: 'blur' },
          { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
  }
}
</script>
<style scoped="less">
  .title{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
  }
  h1{
    display: inline-block;
  }
  h3{
    position: absolute;
    left: 40px;
    top: 10px;
  }
</style>
