<template>
  <div class="drawer">
    <Button type="primary" shape="circle" @click="value1 = true">接诊</Button>
    <Drawer title="" width="350" :closable="false" v-model="value1">
      <Tabs size="small">
        <TabPane label="接诊记录">
          <Input search enter-button placeholder="患者查询" />
          <Row style="margin: 10px 0">
            <Col span="11">
            <DatePicker :value="start"  type="date" :options="options" > </DatePicker>
            </Col>
            <Col span="2" style="text-align: center">-</Col>
            <Col span="11">
            <DatePicker :value="end" type="date" :options="options" ></DatePicker>
            </Col>
          </Row>
          <Table :columns="columns1" :data="serverList" cellspacing="0" cellpadding="0"></Table>
        </TabPane>
        <TabPane label="就诊历史">标签二的内容</TabPane>
      </Tabs>
    </Drawer>
  </div>
</template>
<script>
import * as getDatas from '../../config/interface/service'
export default {
  data () {
    return {
      value1: false,
      options: {
        disabledDate (date) {
          return date && date.valueOf() > Date.now()
        }
      },
      start: new Date(),
      end: new Date(),
      columns1: [
        {
          title: '姓名',
          key: 'name'
        },
        {
          title: '性别',
          key: 'sex'
        },
        {
          title: '年龄',
          key: 'age'
        },
        {
          title: '状态',
          key: 'status'
        }
      ],
      serverList: []
    }
  },
  created () {
    this.getListByDoctorId()
  },
  methods: {
    getListByDoctorId () {
      getDatas.getListByDoctorId({
        patientName: '2222',
        beginDate: '2019-01-02',
        endDatae: '2019-01-02'
      }).then(res => {
        if (res.data.code === 0) {
          this.serverList = res.data.data
          for (var i = 0; i < this.serverList.length; i++) {
            if (this.serverList[i].sex === 0) {
              this.serverList[i].sex = '男'
            } else {
              this.serverList[i].sex = '女'
            }

            if (this.serverList[i].status === 1) {
              this.serverList[i].status = '未收费'
            } else if (this.serverList[i].status === 2) {
              this.serverList[i].status = '已收费未发药'
            } else {
              this.serverList[i].status = '已发药'
            }
          }
        }
      }).catch(err => {
        console.info(err)
      })
    }
  }
}
</script>
<style scoped="less">
  .ivu-tabs-mini{
    height: 100%;
  }
  .drawer{
    position: absolute;
    top:85px;
    right: 22px;
  }
</style>
