<template>
  <AutoComplete
    v-model="durgName" style="width: 450px" @on-change="handleSearch">
    <Table :columns="columns1" :data="drugList" ></Table>
  </AutoComplete>
</template>
<script>
import * as getDatas from '../../config/interface/service'
export default {
  data () {
    return {
      durgName: '',
      columns1: [
        {
          title: '编号',
          key: 'id'
        },
        {
          title: '名称',
          key: 'name'
        },
        {
          title: '规格',
          key: 'specification'
        },
        {
          title: '零售价',
          key: 'retailPrice'
        },
        {
          title: '库存',
          key: 'stock'
        }
      ],
      drugList: []
    }
  },
  methods: {
    handleSearch: function () {
      getDatas.getDrugListByName({
        durgName: this.durgName
      }).then(res => {
        if (res.data.code === 0) {
          this.drugList = []
          this.drugList = res.data.data
        }
        // console.info(this)
      }).catch(err => {
        console.info(err)
      })
    }
  }
}
</script>
<style scoped="less">
</style>
