<template>
  <div>
    <Form :label-width="80">
      <FormItem label="主述:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="过敏史:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="中医证候:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="治则治法:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="诊断:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="医嘱:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="RP:"
        v-for="(item, index) in formDynamic.items"
        v-if="item.status"
        :key="index">
        <Row>
          <Col span="3" class="tcmSearchBox">
          <serchbox></serchbox>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Input type="text" ></Input>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Input type="text"></Input>
          </Col>
          <Col span="2" style="margin-left: 0.5%">
          <Select>
            <Option :value="item.key" v-for="(item, index) in types"  :key="index">{{item.name}}</Option>
          </Select>
          </Col>
          <Col span="1" style="margin-left: 0.5%">
          <Icon type="ios-trash-outline" @click="handleRemove(index)"/>
          </Col>
        </Row>
        <Row class="drugInfo">
          <FormItem label="每日制剂:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="1" >剂</Col>
          </FormItem>
          <FormItem label="频次:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
          </FormItem>
          <FormItem label="用法:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
          </FormItem>
        </Row>
        <Row class="drugInfo">
          <FormItem label="服药时长:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="1" >天</Col>
          </FormItem>
          <FormItem label="总剂数:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="1" >剂</Col>
          </FormItem>
          <FormItem label="制药总价:" style="width: 150px;display: inline-block">
            <Col span="3" style="width: 50px">
            <Input type="text"></Input>
            </Col>
            <Col span="1" >元</Col>
            <Col span="1" >
            <Button type="primary" @click="handleReset('formValidate')" style="margin-left: 8px">重置</Button>
            </Col>
          </FormItem>
        </Row>
      </FormItem>
      <FormItem label="附加费:">
        <!--<Select  multiple style="width:200px">-->
          <!--<Option>opopp</Option>-->
        <!--</Select>-->
      </FormItem>
      <Row style="text-align: right;font-size: 14px;margin-right: 5%">
        <span >费用合计:</span>
        <span class="total text-red">1440</span>
        <span class="text-red">元</span>
      </Row>
    </Form>
  </div>
</template>
<script>
import info from '../medicalRecords/info.vue'
import serchbox from '../medicalRecords/serchBox.vue'
export default {
  data () {
    return {
      index: 1,
      formDynamic: {
        items: [
          {
            value: '',
            index: 1,
            status: 1
          }
        ]
      },
      types: [
        {
          key: '0',
          name: '默认'
        },
        {
          key: '1',
          name: '先煎'
        },
        {
          key: '2',
          name: '后下'
        },
        {
          key: '3',
          name: '包煎'
        },
        {
          key: '4',
          name: '烊化'
        },
        {
          key: '5',
          name: '冲服'
        }
      ],
      columns1: [
        {
          title: '名称',
          key: 'name'
        },
        {
          title: '规格',
          key: 'specifications'
        },
        {
          title: '零售价',
          key: 'price'
        },
        {
          title: '库存',
          key: 'repertory'
        }
      ],
      drugList: [
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        },
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        },
        {
          name: '艾叶配方颗粒',
          specifications: '6g/袋',
          price: '0.61',
          repertory: '30'
        }
      ]
    }
  },
  components: {
    info,
    serchbox
  },
  methods: {
    handleAdd () {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    handleRemove (index) {
      this.formDynamic.items[index].status = 0
    },
    handleReset (name) {
      this.$refs[name].resetFields()
    }
  }
}
</script>
<style>
 .tcmSearchBox .ivu-auto-complete .ivu-input-wrapper .ivu-input{
   width: 128px;
 }
</style>
<style scoped="css">
  .ivu-auto-complete .ivu-input-wrapper .ivu-input{
    width: 128px;
  }
  .ivu-input-wrapper{
    width: 95%;
  }
  .drugInfo{
    background: #f0faff;
  }
  .drugInfo FormItem{
    display: inline-block;
    width: 200px;
  }
  .total{
    width: 100px;
    padding: 0 8px;
    min-width: 50px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
  .text-red{
    color: red;
  }
</style>
