<template>
  <div>
    <Form :label-width="80">
      <FormItem label="主述:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="过敏史:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="诊断:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="医嘱:">
        <Input type="textarea" :autosize="{minRows: 2,maxRows: 5}"></Input>
      </FormItem>
      <FormItem label="RP:">
        <Row class="tableWrap">
          <table class="ivu-table ivu-table-default" style="width: 100%" cellspacing="0" cellpadding="0" border="0">
            <thead class="ivu-table-header">
            <tr>
              <th>药品名称</th>
              <th>组号</th>
              <th>用法</th>
              <th>单次用量</th>
              <th>频率</th>
              <th>天数</th>
              <th>总量</th>
              <th>单价</th>
              <th>皮试</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
            </thead>
          </table>
        </Row>
        <Row class="searchWrap">
          <serchbox style="width: 100%"></serchbox>
        </Row>
      </FormItem>
      <Row style="text-align: right;font-size: 14px;margin-right: 5%">
        <span >费用合计:</span>
        <span class="total text-red">1440</span>
        <span class="text-red">元</span>
      </Row>
    </Form>
  </div>
</template>
<script>
import info from '../medicalRecords/info.vue'
import serchbox from '../medicalRecords/serchBox.vue'
export default {
  data () {
    return {
    }
  },
  components: {
    info,
    serchbox
  },
  methods: {
    handleAdd () {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    },
    handleRemove (index) {
      this.formDynamic.items[index].status = 0
    },
    handleReset (name) {
      this.$refs[name].resetFields()
    }
  }
}
</script>
<style scoped="css">
  .ivu-input-wrapper{
    width: 95%;
  }
  .drugInfo{
    background: #f0faff;
  }
  .drugInfo FormItem{
    display: inline-block;
    width: 200px;
  }
  .total{
    width: 100px;
    padding: 0 8px;
    min-width: 50px;
    border: 0;
    outline: none;
    border-bottom: 1px solid #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
  }
  .text-red{
    color: red;
  }
  .tableWrap{
    width: 95%;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
  }
  .searchWrap{
    width: 95%;
  }
  .ivu-auto-complete .ivu-input-wrapper .ivu-input{
    width: 100% !important;
  }
</style>
