<template>
  <div class="todayService">
    <Row class="btns">
      <Button type="primary" icon="ios-copy" @click="handleModalClick('modal')">调用模板</Button>
      <Button type="primary" icon="ios-copy"  v-show="isRecords" @click="handleModalClick('record')">复制病历</Button>
      <Button type="primary" icon="ios-copy"  v-show="isTCM" @click="handleModalClick('tcm')">复制中草药处方</Button>
      <Button type="primary" icon="ios-copy"  v-show="isWM" @click="handleModalClick('wm')">复制西药处方</Button>
      <Button type="primary" icon="ios-copy"   v-show="isAttch" @click="handleModalClick('attch')">复制贴敷处方</Button>
      <Button type="primary" icon="ios-person" @click="handlePatientModalClick">选择患者</Button>
    </Row>
    <info class="info"></info>
    <Tabs value="records" @on-click="handleTabClick">
      <TabPane label="病历" name="records" style="margin-top: 150px;"><Divider style="margin: 15px 0;" dashed /><records ref="getRecord" @saveRecord="saveRecord"></records></TabPane>`
      <TabPane label="中草药处方" name="tcm" style="margin-top: 150px;"><Divider style="margin: 15px 0;" dashed /><tcm></tcm></TabPane>
      <TabPane label="西/成药处方" name="wm" style="margin-top: 150px;"><Divider style="margin: 15px 0;" dashed /><wm></wm></TabPane>
      <TabPane label="贴敷处方" name="attch" style="margin-top: 150px;"><Divider style="margin: 15px 0;" dashed /><attch></attch></TabPane>
    </Tabs>
    <div class="fixed_btn">
      <div><Button type="success" >打印处方</Button></div>
      <div><Button type="warning" >打印单据</Button></div>
      <div><Button type="primary" @click="save">保&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;存</Button></div>
    </div>
    <pdrawer></pdrawer>
    <Modal
      v-model="templateModal"
      :title=modalTitle
      footer-hide
      width="1024">
      <div class="mainWrap">
        <div class="leftWrap">
          <p class="mainTitle">诊断分类</p>
          <div>
            <Tree :data="diagnosisClassificationList" @on-select-change="handleTreeSelect"></Tree>
          </div>
        </div>
        <div class="middleWrap">
          <p class="mainTitle">模板列表</p>
          <div>
            <ul class="teplateListBox">
              <li :id="temp.templateId" v-for="(temp, index) in templateList" :key="index" @click="getTemplateInfo(temp.templateId)">{{temp.templateName}}</li>
            </ul>
          </div>
        </div>
        <div class="rightWrap">
          <p class="mainTitle">模板详情</p>
          <div>
            <div class="templateInfo">
              <label>处方分类：</label>
              <span>{{diagnosisClassification}}</span>
            </div>
            <div class="templateInfo">
              <label>模板名称：</label>
              <span>{{templateName}}</span>
            </div>
            <div class="templateInfo">
              <label>主治疾病：</label>
              <span>{{mainSymptoms}}</span>
            </div>
            <div class="templateInfo" style="height: 80px">
              <label>描述：</label>
              <span>{{templateDesc}}</span>
            </div>
            <div class="templateFoot" v-show="isTCM">
              <b>每日制剂：</b><span>{{diurnalCount}}</span>
              <b>频次：</b><span>{{frequency}}</span>
              <b>用法：</b><span>{{usageCode}}</span>
              <b>服药时长：</b><span>{{duration}}</span>
              <b>总制剂：</b><span>1</span>
            </div>
            <div v-show="isTCM">
              <div class="temInfoBorder" v-for="(item, index) in drugList" :key="index">{{item.name}} &nbsp;&nbsp;{{item.totalDosage}}{{item.unit}}</div>
            </div>
            <Table v-show="isWM" :columns="templateColumn" :data="drugList" cellspacing="0" cellpadding="0"></Table>
            <div v-show="isAttch" class="attchBox" v-for="(item, index) in drugList" :key="index">
              <div class="attchTitle"><span>贴剂{{index + 1}}</span></div>
              <div class="templateInfo">
                <b>药品名称：</b>
                <span v-for="(drugs, index) in item.drugList" :key="index" style="margin-right: 5px">{{drugs.name}}{{drugs.dosage}}{{drugs.unit}}</span>
              </div>
              <div class="templateInfo">
                <b>贴敷制剂：</b>
                <span>消肿止痛贴1贴</span>
                <b>用法：</b>
                <span>{{item.usage}}</span>
                <b>调法：</b>
                <span>{{item.concoctionApproach}}</span>
                <b>部位：</b>
                <span>{{item.acupoint}}</span>
                <b>贴敷时长：</b>
                <span>{{item.duration}}</span>
                <b>贴数：</b>
                <span>{{item.quatity}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Modal>
    <Modal
      v-model="copyModal"
      :title=copyTitle
      footer-hide
      width="900">
      <div>
        <div>
          <label>就诊时间：</label>
          <DatePicker type="date" placeholder="选择日期" v-model="sDate" :options="options"></DatePicker>
          至
          <DatePicker type="date" placeholder="选择日期" v-model="eDate" :options="options"></DatePicker>
          <label style="margin-left: 20px">患者姓名</label>
          <Input v-model="patientName"  style="width: 200px" />
          <Button type="primary" style="margin-left: 20px">查询</Button>
        </div>
        <Table :columns="copyColumns"  :data="patientHistory" style="margin-top: 10px"></Table>
      </div>
    </Modal>
    <Modal
      v-model="patientModal"
      :title='选择患者'
      footer-hide
      width="800">
      <div>
        <div>
          <label style="margin-left: 20px">患者姓名</label>
          <Input v-model="patientInfo.name"  style="width: 200px" />
          <label style="margin-left: 20px">患者姓名</label>
          <Input v-model="patientInfo.phone"  style="width: 200px" />
          <!--<label>就诊时间：</label>-->
          <!--<DatePicker type="date" placeholder="选择日期" v-model="sDate" :options="options"></DatePicker>-->
          <!--至-->
          <!--<DatePicker type="date" placeholder="选择日期" v-model="eDate" :options="options"></DatePicker>-->
          <Button type="primary" style="margin-left: 20px">查询</Button>
        </div>
        <Table :columns="copyColumns"  :data="patientHistory" style="margin-top: 10px"></Table>
      </div>
    </Modal>
  </div>
</template>
<script>
import info from '../../components/medicalRecords/info.vue'
import records from '../../components/medicalRecords'
import tcm from '../../components/medicalRecords/tcm.vue'
import wm from '../../components/medicalRecords/wm.vue'
import pdrawer from '../../components/medicalRecords/patientDrawer.vue'
import attch from '../../components/medicalRecords/attch.vue'
import * as getDatas from '../../config/interface/service'
import expandRow from '../../components/medicalRecords/copy.vue'
export default {
  name: 'todayService',
  components: {
    info,
    records,
    tcm,
    wm,
    pdrawer,
    attch,
    expandRow
  },
  data () {
    return {
      isTCM: false,
      isWM: false,
      isRecords: true,
      isAttch: false,
      templateModal: false,
      modalTitle: '',
      diagnosisClassificationList: [],
      templateList: [],
      templateColumn: [],
      copyModal: false,
      copyTitle: '',
      options: {
        disabledDate (date) {
          return date && date.valueOf() > Date.now()
        }
      },
      sDate: new Date(),
      eDate: new Date(),
      patientName: '',
      patientHeaderColumn: [
        {}
      ],
      patientHistory: [
        {
          name: 'John Brown',
          age: 18,
          address: 'New York No. 1 Lake Park',
          job: 'Data engineer',
          interest: 'badminton',
          birthday: '1991-05-14'
        }
      ],
      copyColumns: [
        {
          type: 'expand',
          width: 50,
          render: (h, params) => {
            return h(expandRow, {
              props: {
                row: params.row
              }
            })
          }
        },
        {
          title: 'Name',
          key: 'name'
        },
        {
          title: 'Age',
          key: 'age'
        },
        {
          title: 'Address',
          key: 'address'
        }
      ],
      diagnosisClassification: '',
      templateName: '',
      mainSymptoms: '',
      templateDesc: '',
      diurnalCount: '',
      duration: '',
      frequency: '',
      usageCode: '',
      drugList: [],
      patientModal: false,
      patientInfo: {
        'name': '',
        'phone': ''
      },
    }
  },
  mounted () {
    this.handleModalClick()
  },
  methods: {
    handleTabClick: function (name) {
      switch (name) {
      case 'tcm':
        this.isTCM = true
        this.isRecords = false
        this.isWM = false
        this.isAttch = false
        break
      case 'wm':
        this.isWM = true
        this.isTCM = false
        this.isRecords = false
        this.isAttch = false
        break
      case 'records':
        this.isWM = false
        this.isTCM = false
        this.isRecords = true
        this.isAttch = false
        break
      case 'attch':
        this.isWM = false
        this.isTCM = false
        this.isRecords = false
        this.isAttch = true
      }
    },
    handleModalClick: function (btn) {
      if (this.isTCM) {
        this.modalTitle = '调用草药处方模板'
        this.copyTitle = '复制草药处方'
        this.templateColumn = [
          {
            title: '药品名称',
            key: 'name'
          },
          {
            title: '用法',
            key: 'use'
          },
          {
            title: '当次计量',
            key: 'single'
          }
        ]
      } else if (this.isWM) {
        this.modalTitle = '调用西药处方模板'
        this.copyTitle = '复制西药处方'
        this.templateColumn = [
          {
            title: '药品名称',
            key: 'name',
            width: 100
          },
          {
            title: '用法',
            key: 'usage'
          },
          {
            title: '单次计量',
            key: 'singleDosage',
            width: 100
          },
          {
            title: '频率',
            key: 'frequency',
            width: 100
          },
          {
            title: '天数',
            key: 'daysNum'
          },
          {
            title: '皮试',
            key: 'needSkinTest'
          },
          {
            title: '总量',
            key: 'totalDosage'
          },
          {
            title: '单价',
            key: 'unitPrice'
          }
        ]
      } else if (this.isAttch) {
        this.modalTitle = '调用贴敷处方模板'
        this.copyTitle = '复制贴敷处方'
        this.templateColumn = [{title: '贴剂', key: 'attch'}]
      }
      // 获取诊断门诊列表
      getDatas.getDiagnosisClassificationList().then(res => {
        let datas = res.data.data
        let tempList = []
        if (res.data.code === 0) {
          for (let i = 0; i < datas.length; i++) {
            let tempNode = {
              'title': '',
              'children': []
            }
            tempNode.title = datas[i].name
            if (datas[i].children) {
              for (let j = 0; j < datas[i].children.length; j++) {
                tempNode.children.push({'title': datas[i].children[j].name})
              }
            }
            tempList.push(tempNode)
          }
          if (tempList) {
            this.diagnosisClassificationList = tempList
          }
        }
      }).catch(err => {
        console.info(err)
      })
      if (btn === 'modal') {
        this.templateModal = true
        this.resetTempParams()
      }
      if (btn === 'record' || btn === 'tcm' || btn === 'wm' || btn === 'attch') {
        this.copyModal = true
      }
    },
    // 根据诊断门诊列表查询中药，西药，贴敷处方列表
    getTemplateListByClassification: function () {
      getDatas.getListTemplatesByClassification({
        diagnosisClassificationId: '1',
        precriptionType: '11'
      }).then(res => {
        this.templateList = res.data.data
      }).catch(err => {
        console.info(err)
      })
    },
    handleTreeSelect: function (data) {
      this.getTemplateListByClassification()
    },
    getTemplateInfo: function (templateId) {
      if (this.isTCM) {
        this.getFindOneChinese(templateId)
      } else if (this.isWM) {
        this.getFindOneWestern(templateId)
      } else if (this.isAttch) {
        this.getFindOnePlaster(templateId)
      }
    },
    getFindOneChinese: function (templateId) {
      getDatas.getFindOneChinese({
        templateId: templateId
      }).then(res => {
        if (res.data.code === 0) {
          let data = res.data.data
          this.diagnosisClassification = data.diagnosisClassification
          this.templateName = data.templateName
          this.mainSymptoms = data.mainSymptoms
          this.templateDesc = data.templateDesc
          this.diurnalCount = data.diurnalCount
          this.duration = data.duration
          if (data.frequency === 1) {
            this.frequency = '1次/天'
          } else {
            this.frequency = '2次/天'
          }
          if (data.usageCode === 1) {
            this.usageCode = '泡酒服用'
          } else {
            this.usageCode = '开水煎服'
          }
          this.drugList = data.drugList
        }
      })
    },
    getFindOneWestern: function (templateId) {
      getDatas.getFindOneWestern({
        templateId: templateId
      }).then(res => {
        if (res.data.code === 0) {
          let data = res.data.data
          this.diagnosisClassification = data.diagnosisClassification
          this.templateName = data.templateName
          this.mainSymptoms = data.mainSymptoms
          this.templateDesc = data.templateDesc
          this.diurnalCount = data.diurnalCount
          this.duration = data.duration
          for (let i = 0; i < data.drugList.length; i++) {
            if (data.drugList[i].needSkinTest === 'true') {
              data.drugList[i].needSkinTest = '是'
            } else {
              data.drugList[i].needSkinTest = '否'
            }
          }
          this.drugList = data.drugList
        }
      })
    },
    getFindOnePlaster: function (templateId) {
      getDatas.getFindOnePlaster({
        templateId: templateId
      }).then(res => {
        if (res.data.code === 0) {
          let data = res.data.data
          this.diagnosisClassification = data.diagnosisClassification
          this.templateName = data.templateName
          this.mainSymptoms = data.mainSymptoms
          this.templateDesc = data.templateDesc
          this.drugList = data.patchList
          console.info(this.drugList)
        }
      })
    },
    resetTempParams: function () {
      this.templateList = []
      this.diagnosisClassification = ''
      this.templateName = ''
      this.mainSymptoms = ''
      this.templateDesc = ''
      this.diurnalCount = ''
      this.duration = ''
      this.frequency = ''
      this.usageCode = ''
      this.drugList = []
    },
    handlePatientModalClick: function () {
      this.patientModal = true
    },
    // 保存
    save: function () {
      if (this.isRecords) {
        this.$refs.getRecord.getRecords()
      }
    },
    saveRecord: function (res) {
      console.log(res)
    }
  }
}
</script>
<style>
  .info{
    position: absolute;
    top: 135px;
    z-index: 1;
  }
  .ivu-modal-body{
    font-size: 14px;
  }
  .ivu-tree ul{
    font-size: 14px;
  }
  .btns{
    position: absolute;
    top:125px;
    right: 30px;
    z-index: 99;
  }
  .mainWrap{
    box-sizing: border-box;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
  }
  .mainTitle{
    text-align: center;
    background: #2d8cf0;
    padding: 10px;
    color: #fff;
  }
  .leftWrap{
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    width: 180px;
    min-width: 180px;
    height: 600px;
    overflow-y: auto;
  }
  .middleWrap{
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-left: 0;
    width: 160px;
    min-width: 160px;
  }
  .rightWrap{
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-left: 0;
    width: 800px;
    position: relative;
  }
  .teplateListBox{
    padding: 7px 10px;
    list-style: none;
  }
  .teplateListBox li:hover{
    background-color: #d5e8fc;
    cursor: pointer;
    border-radius: 5px;
  }
  .templateInfo{
    border-bottom: 1px solid #d8d8d8 ;
    padding: 10px;
  }
  .templateFoot{
    padding: 10px;
  }
  .temInfoBorder{
    min-height: 25px;
    line-height: 25px;
    font-family: '微软雅黑';
    font-size: 14px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
    width: calc(100% / 3);
  }
  .attchTitle{
    background: #ebebeb;
    padding: 10px;
  }
  .attchBox{
    margin: 10px;
    border: 1px solid #d8d8d8
  }
  .fixed_btn{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(15,89,212,.15);
    text-align: center;
  }
  .fixed_btn div{
    margin: 5px 0;
    display: inline-block;
    width: calc(100% / 4);
  }
  .fixed_btn div button{
    width: 50%;
  }
</style>
