@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y5ah1n');
  src:  url('fonts/icomoon.eot?y5ah1n#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y5ah1n') format('truetype'),
    url('fonts/icomoon.woff?y5ah1n') format('woff'),
    url('fonts/icomoon.svg?y5ah1n#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-statistical:before {
  content: "\e905";
}
.icon-service:before {
  content: "\e900";
}
.icon-charge:before {
  content: "\e901";
}
.icon-set:before {
  content: "\e902";
}
.icon-id:before {
  content: "\e903";
}
.icon-drug:before {
  content: "\e904";
}
