<template>
  <Menu active-name="1-1" theme="light" width="auto" :class="menuitemClasses" :open-names="['1']">
    <Submenu :name="menu.name" v-for="(menu,index) in menus" :key="index">
      <template slot="title">
        <i :class="menu.icon"></i>
        <span>{{menu.label}}</span>
      </template>
      <MenuItem :name="child.name" v-for="child in menus[index].children">
        <router-link :to="child.path"> {{child.label}}</router-link>
      </MenuItem>
    </Submenu>
  </Menu>
</template>
<style scoped>
  .menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
  }
  .menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 17px;
  }
  .collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
  }
  .collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
  }
  .icon-service{
    font-size: 20px !important;
  }
  .icon-id{
    margin-right: 2px;
  }
  .icon-set{
    font-size: 24px !important;
    margin-right: 0px;
  }
</style>
<script>
import menus from '../../config/menu'
export default {
  data () {
    return {
      isCollapsed: false,
      menus: menus,
      menuList: [
        {
          name: '1',
          label: '门诊',
          icon: 'icon-service',
          children: [
            {
              name: '1-1',
              label: '今日门诊'
            },
            {
              name: '1-2',
              label: '新增门诊'
            }
          ]
        },
        {
          name: '2',
          label: '收费管理',
          icon: 'icon-charge',
          children: [
            {
              name: '2-1',
              label: '待收费列表'
            },
            {
              name: '2-3',
              label: '已收费列表'
            },
            {
              name: '2-3',
              label: '欠费列表'
            }
          ]
        },
        {
          name: '3',
          label: '患者管理',
          icon: 'icon-id',
          children: [
            {
              name: '3-1',
              label: '患者信息维护'
            },
            {
              name: '3-2',
              label: '新增门诊患者'
            },
            {
              name: '3-3',
              label: '今日门诊患者'
            },
            {
              name: '3-4',
              label: '门诊日志'
            },
            {
              name: '3-5',
              label: '随访记录'
            }
          ]
        },
        {
          name: '4',
          label: '药品管理',
          icon: 'icon-drug',
          children: [
            {
              name: '4-1',
              label: '待发药列表'
            },
            {
              name: '4-2',
              label: '已发药列表'
            },
            {
              name: '4-3',
              label: '已退药列表'
            },
            {
              name: '4-4',
              label: '药品信息维护'
            },
            {
              name: '4-5',
              label: '新增诊所药品'
            },
            {
              name: '4-6',
              label: '药品价格管理'
            },
            {
              name: '4-7',
              label: '生产厂家管理'
            }
          ]
        },
        {
          name: '5',
          label: '统计',
          icon: 'icon-statistical',
          children: [
            {
              name: '5-1',
              label: '门诊信息统计'
            },
            {
              name: '5-2',
              label: '诊断疾病统计'
            },
            {
              name: '5-3',
              label: '用药信息统计'
            },
            {
              name: '5-4',
              label: '患者信息统计'
            },
            {
              name: '5-5',
              label: '营收信息统计'
            }
          ]
        },
        {
          name: '6',
          label: '设置',
          icon: 'icon-set',
          children: [
            {
              name: '6-1',
              label: '我的诊所'
            },
            {
              name: '6-2',
              label: '修改密码'
            },
            {
              name: '6-3',
              label: '用户管理'
            },
            {
              name: '6-4',
              label: '我的处方'
            },
            {
              name: '6-5',
              label: '协定处方'
            },
            {
              name: '6-6',
              label: '基础处方'
            },
            {
              name: '6-7',
              label: '问题反馈'
            },
            {
              name: '6-8',
              label: '打印设置'
            },
            {
              name: '6-9',
              label: '教学视频'
            },
            {
              name: '6-10',
              label: '词典列表'
            },
            {
              name: '6-11',
              label: '个人积分'
            },
            {
              name: '6-12',
              label: '排班设置'
            },
            {
              name: '6-13',
              label: '会员设置'
            }

          ]
        }
      ]
    }
  },
  computed: {
    rotateIcon () {
      return [
        'menu-icon',
        this.isCollapsed ? 'rotate-icon' : ''
      ]
    },
    menuitemClasses () {
      return [
        'menu-item',
        this.isCollapsed ? 'collapsed-menu' : ''
      ]
    }
  },
  methods: {
  }
}
</script>
