<template>
  <div id="app">
    <div class="layout">
      <Layout theme="light">
        <Sider :style="{height: 'auto',  overflow: 'auto',backgroundImage: 'linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%)'}">
          <Affix><menuList></menuList></Affix>
        </Sider>
        <Layout>
          <Header :style="{padding: 0}" class="layout-header-bar">
            <Dropdown class="rightDropDown">
            <span class="ivu-avatar ivu-avatar-circle ivu-avatar-default ivu-avatar-image">
              <img src="./assets/image/loginIcon.png"/>
            </span>
              <Icon type="ivu-icon ivu-icon-md-arrow-dropdown" style="font-size: 18px"></Icon>
              <DropdownMenu slot="list">
                <DropdownItem>退出登录</DropdownItem>
              </DropdownMenu>
            </Dropdown>
          </Header>
          <Content :style="{margin: '20px', background: '#fff', minHeight: '260px'}">
            <router-view/>
          </Content>
        </Layout>
      </Layout>
    </div>
  </div>
</template>
<style scoped>
  .ivu-layout-sider{
    background: #fff;
  }
  .ivu-menu-light{
    background: none;
  }
  .layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
  }
  .layout-header-bar{
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
  }
  .menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
  }
  .menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
  }
  .collapsed-menu span{
    width: 0px;
    transition: width .2s ease;
  }
  .collapsed-menu i{
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
  }
  .rightDropDown{
    float: right;
    margin-right: 20px;
  }
</style>
<script>
import menuList from './components/menuList/index.vue'
import './assets/main.css'
import './assets/fontIcon/icomoon/style.css'
export default {
  data () {
    return {
      isCollapsed: false
    }
  },
  components: {
    menuList: menuList
  },
  computed: {
  },
  methods: {
    collapsedSider () {
      this.$refs.side1.toggleCollapse()
    }
  }
}
</script>
